input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: block;
}
table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #337ab7;
}

td,
th {
  border: 1px solid #337ab761;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #337ab761;
}

body {
  font-family: sans-serif;
}

thead,
tfoot {
  background: #f9f9f9;
  display: table;
  width: 100%;
  width: calc(100% - 18px);
}

tbody {
  height: 500px;
  overflow: auto;
  display: block;
  width: 100%;
}
