<select (change)="pageSizeChange(pageSize)" [(ngModel)]="pageSize" style="float: right;">
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="40">40</option>
  <option value="100">100</option>
</select>

<table class="header-fixed">
  <thead>
    <tr>
      <th>name</th>
      <th>phone</th>
      <th>email</th>
      <th>company</th>
      <th>date_entry</th>
      <th>org_num</th>
      <th>address_1</th>
      <th>city</th>
      <th>zip</th>
      <th>geo</th>
      <th>pan</th>
      <th>pin</th>
      <th>id</th>
      <th>fee</th>
      <th>guid</th>
      <th>date_exit</th>
      <th>date_first</th>
      <th>date_recent</th>
      <th>url</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of pagedItems; let i = index">
      <td>{{user.name}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.company}}</td>
      <td>{{user.date_entry}}</td>
      <td>{{user.org_num}}</td>
      <td>{{user.address_1}}</td>
      <td>{{user.city}}</td>
      <td>{{user.zip}}</td>
      <td>{{user.geo}}</td>
      <td>{{user.pan}}</td>
      <td>{{user.pin}}</td>
      <td>{{user.id}}</td>
      <td>{{user.status}}</td>
      <td>{{user.fee}}</td>
      <td>{{user.guid}}</td>
      <td>{{user.date_exit}}</td>
      <td>{{user.date_first}}</td>
      <td>{{user.date_recent}}</td>
      <td>{{user.url}}</td>

    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="20">
        <div>
          <div class="container">
            <div class="text-center">
              <!-- pager -->
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </td>
    </tr>

  </tfoot>
</table>